Package: CZDoom
Version: 
Description: Limit-removing Doom Engine
Section: games
Priority: optional
Maintainer: scooterpsu
Architecture: mipsel
Homepage: https://github.com/scooterpsu/czdoom
Depends:
Source: https://github.com/scooterpsu/czdoom
